/*
Types of Elements:
BLOCK: A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).
Examples: <div> <h1> <p> <ul> <li>
INLINE: An inline element does not start on a new line and only takes up as much width as necessary.
Examples: <span> <a> <img>
INLINE BLOCK: Inline-block elements are like inline elements but they can have a width and a height, padding and margins.
*/

/* ------ TYPOGRAPHY ------ */
.content-title {
  font-size: 55px;
  font-weight: 700; /* Open Sans' bold weight */
  margin: 0 0 10px 0;
}
.content-subtitle {
  font-size: 21px;
  font-weight: 300; /* Open Sans' light weight */
}


body {
  background-color: #ededed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
  height: 550px;
  background-image: url(../img/header-desktop.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* Tablet */
@media screen and (max-width: 1099px) and (min-width: 768px) {
  header {
    background-image: url(../img/header-tablet.jpg);
  }
}

/* Large mobile device */
@media screen and (max-width: 767px) and (min-width: 480px) {
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}

/* Small mobile device */
@media screen and (max-width: 479px){
  header {
    background-image: url(../img/header-mobile.jpg);
  }
}

.branding-nav-container {
  width: 1060px;
  /*height: 746px;*/
  /*background-color: #A8CD1B;*/
  margin: 0 auto 0 auto; /* Any element with a width can be centered by setting left and right margin to 'auto' */
}

/* Clearfix hack to fix block elements with floating content inside */
div::after, section::after, header::after, article::after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#logo {
  width: 200px;
  height: 80px;
  padding: 20px 0 0 0;
  /*border: 1px solid green;*/
  /*background-color: #CBE32D;*/
  float: left;
}

.main-navigation {
  width: 480px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  /*height: 100px;
  Original height was 100, subtracted 40 to make up
  for top padding */
  height: 60px;
  /*background-color: #F3FAB6;*/
  float: right;
  padding: 40px 0 0 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 50px;
}

.header-title-container {
  color: white;
  width: 1060px;
  margin: 200px auto 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 44px;
}

/* Desktop and Above */
@media screen and (min-width: 1100px) {
  .header-title-container {
    width: 840px;
  }
}

/* Tablet and Below */
@media screen and (max-width: 1099px) {
  .header-title-container {
    width: 100%;
  }
}


.content-band {
  width: 100%;
  padding: 50px 0 50px 0;
}

.column {
  /* This will make an element the live area (1060px) and centered */
  width: 1060px;
  margin: 0 auto 0 auto;
}
.quarter {
  width: 25%;
  float: left;
}
.third {
  width: 33%;
  float: left;
  min-height: 200px;
}
.half {
  width: 50%;
  float: left;
}
.twothirds {
  width: 66%;
  float: left;
  min-height: 200px;
}
.full {
  width: 100%;
}

/* Inheritance: Any ul INSIDE 'services-sidebar' will have these styles */
.services-sidebar ul {
  padding-left: 0; /* Removes default indent on ul */
  list-style-type: none; /* Removes bullet points */
}

.services-sidebar li {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgb(210, 210, 210);
}
